@model AutoComplete.Models.LogOnModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<h4>
    <strong>Login</strong>
</h4>
 <h5>
    Sign in with your credential to manage.</h5>
@using (Html.BeginForm("Logon", "Account", FormMethod.Post, new { @class = "" }))
{
    @Html.ValidationSummary(true)

    
		

    <div class="editor-label">
        @Html.LabelFor(model => model.UserName)
    </div>


    <div class="editor-field">
        @Html.EditorFor(model => model.UserName)
        @Html.ValidationMessageFor(model => model.UserName)
    </div>


    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>


    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>


    
    <br />
 <br />
                       
                       
    <input class="btn btn-primary btn-small" type="submit" value="Login" />
    <h5>
       <a href="@Url.Action("ForgotPassword","Home")"> Forgot password ? </a></h5>
    <h5>
        
       Click here if you are not a member yet! <a href="@Url.Action("Create", "Person")">  Register Now</a></h5>
           
    
}
<style type="text/css">
    .editor-label
    {
        width: 41%;
        
        float: none !important;
        padding: 0px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var className = $("input").attr("class");
        $("input").attr("class", "k-input text");
        //  $("input[type=checkbox]").attr("class", "regular-checkbox big-checkbox");
        // $("input[name=isshowCurrentPractice]").attr("class", "regular-checkbox big-checkbox"); 
        $("select").kendoDropDownList();
    });
  
</script>