@model AutoComplete.Models.LogOnModel
@{
    ViewBag.Title = "Log On";
}
@section bottomText
{
 <div class="page">
        <div class="grid">
            <div class="row">
                <div class="span4 bg-color-blue">
                    <img src="@Url.Content("~/img/simple.png")" class="place-right" style="margin: 10px;">
                    <h2 class="fg-color-white">
                        &nbsp;Simple</h2>
                </div>
                <div class="span4 bg-color-green">
                    <img src="@Url.Content("~/img/manageable.png")" class="place-right" style="margin: 10px;">
                    <h2 class="fg-color-white">
                        &nbsp;Manageable</h2>
                </div>
                <div class="span4 bg-color-yellow">
                    <img src="@Url.Content("~/img/custom.png")" class="place-right" style="margin: 10px;">
                    <h2 class="fg-color-white">
                        &nbsp;Customaziable</h2>
                </div>
            </div>
        </div>
    </div>
}
<style type="text/css">
    .span5 div
    {
        padding: 1px;
    }
</style>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="page">
    <div class="page-content">
        <h1>
            Login
        </h1>
        <div class="span10">
            <h5>
                 Login with your credential to  manage your work.
            </h5>
        </div>
        <div class="grid">
            <div class="row hero-unit">
                <div class="span5">
                    <p style="line-height: 20px; font-size: 14px; position: relative; margin-right: 10px;
                        text-align: justify;">
                        Please enter your user name and password. @Html.ActionLink("Register", "Create", "Person")
                        if you don't have an account.
                    </p>
                    @using (Html.BeginForm("Logon", "Account", FormMethod.Post, new { @class = "form login" }))
                    {
                        <div class="notices ">
                            <div class="bg-color-red">
                                <a href="#" class="close"></a>                                
                                <div class="notice-text">@Html.ValidationSummary(true, "The email you entered does not belong to any account  You can login using any email, username  associated with your account. Make sure that it is typed correctly. ", new { @class = "" })</div>
                            </div>
                        </div>
                           
                        <div class="group wat-cf">
                            <div class="left">
                                @Html.LabelFor(m => m.UserName)
                            </div>
                            <div class="right">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "text_field" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="group wat-cf">
                            <div>
                                @Html.LabelFor(m => m.Password)
                            </div>
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "text_field" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="group navform wat-cf">
                            <div class="right">
                                <input class="btn btn-primary btn-large" type="submit" value="Login" />
                            </div>
                        </div>
                    }
                </div>
                <div class="span6">
                    <div class="span6  text-center place-left bg-color-blue fg-color-white" id="sponsorBlock">
                        <br>
                        <br>
                        <h2 class="">
                            Want to Join ?</h2>
                        <p class="">
                            10+ <a class="" href="#">users</a> every day</p>
                        <br>
                        <a href="@Url.Action("Create", "Person")">
                            <h1>
                                <i class="icon-arrow-right-3 fg-color-red"></i>
                            </h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".close").click(function () {
            $(".notices").hide();
        });
        if ($(".notice-text").find(".validation-summary-errors").attr("class")) {
            $(".notices").show();
        }
        else {
            $(".notices").hide();
        }
    });
   
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var className = $("input").attr("class");
        $("input").attr("class", "k-input " + className);
        //  $("input[type=checkbox]").attr("class", "regular-checkbox big-checkbox");
        // $("input[name=isshowCurrentPractice]").attr("class", "regular-checkbox big-checkbox"); 
        $("select").kendoDropDownList();
    });
  
</script>