@model AutoComplete.Models.Person
@using Recaptcha;
@{
    ViewBag.Title = "Create";
    
}
@section bottomText
{
 <div class="page">
        <div class="grid">
            <div class="row">
                <div class="span4 bg-color-blue">
                    <img src="@Url.Content("~/img/simple.png")" class="place-right" style="margin: 10px;">
                    <h2 class="fg-color-white">
                        &nbsp;Simple</h2>
                </div>
                <div class="span4 bg-color-green">
                    <img src="@Url.Content("~/img/manageable.png")" class="place-right" style="margin: 10px;">
                    <h2 class="fg-color-white">
                        &nbsp;Manageable</h2>
                </div>
                <div class="span4 bg-color-yellow">
                    <img src="@Url.Content("~/img/custom.png")" class="place-right" style="margin: 10px;">
                    <h2 class="fg-color-white">
                        &nbsp;Customaziable</h2>
                </div>
            </div>
        </div>
    </div>
}

<h1 class="fg-color-red">
    New Locum <small>New User registration</small></h1>
    <div  class="span10">
  <h5 class="fg-color-black">Through this locum can register with our portal and can use all features.some text goes here some text goes here  some text goes here  some text goes here .</h5>
</div>
<div class="bg-color-blueLight">

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

  

    @using (Html.BeginForm())
    {

        <div class="notices ">
            <div class="bg-color-red">
                <a href="#" class="close"></a>
                <div class="notice-text">@Html.ValidationSummary()</div>
            </div>
        </div>
            
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
                    
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
                   
        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
                  
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
                  
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
                   
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
                    
        <div class="editor-label">
            @Html.LabelFor(model => model.GMC)
        </div>
                   
        <div class="editor-field">
            @Html.EditorFor(model => model.GMC)
            @Html.ValidationMessageFor(model => model.GMC)
        </div>
                    
        <div class="editor-label">
            @Html.LabelFor(model => model.qualification)
        </div>
                    
        <div class="editor-field">
            @Html.EditorFor(model => model.qualification)
            @Html.ValidationMessageFor(model => model.qualification)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
                 
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>               
   
        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
                   
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>
                   
        <div class="editor-label">
            @Html.LabelFor(model => model.streetAdd)
        </div>
                    
        <div class="editor-field">
            @Html.EditorFor(model => model.streetAdd)
            @Html.ValidationMessageFor(model => model.streetAdd)
        </div>
     
                 
        <div class="editor-label">
            @Html.LabelFor(model => model.city)
        </div>
                   
        <div class="editor-field">
            @Html.EditorFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>
                  
            
        
           
        <div class="editor-label">
            @Html.LabelFor(model => model.country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.country)
            @Html.ValidationMessageFor(model => model.country)
        </div>
   
        <div class="editor-label">
            @Html.LabelFor(model => model.postCode)
        </div>
                   
        <div class="editor-field">
            @Html.EditorFor(model => model.postCode)
            @Html.ValidationMessageFor(model => model.postCode)
        </div>            
        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
                   
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
                   
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
                  
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    
   
                   
        <div class="editor-label1">
          Enter the Code Shown:
        </div>
                  
        <div class="editor-field">
            @Html.Raw(Html.GenerateCaptcha("captcha", "red"))
            @Html.ValidationMessage("captcha")
        </div>
   
                  
        <div class="grid" >
            <div class="row">
                <div class="span8">
                    
                </div>
                <div class="span4">
                   <input class="btn btn-primary btn-large" type="submit" value="Register" />
                    <input class="btn btn-primary btn-large" type="reset" value="Reset form" />
                </div>
            </div>
        </div>
   
    }
   
</div>

<style type="text/css">
    .notice-text
    {
        margin-top:21px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".close").click(function () {
            $(".notices").hide();
        });
        if ($(".notice-text").find(".validation-summary-errors").attr("class")) {
            $(".notices").show();
        }
        else {
            $(".notices").hide();
        }
    });
   
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var className = $("input").attr("class");
        $("input").attr("class", "k-input text");
        //  $("input[type=checkbox]").attr("class", "regular-checkbox big-checkbox");
        // $("input[name=isshowCurrentPractice]").attr("class", "regular-checkbox big-checkbox"); 
        $("select").kendoDropDownList();
    });
  
</script>


