<link href="@Url.Content("~/Content/fullcalendar.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/fullcalendar.print.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/fullcalendar.min.js")" type="text/javascript"></script>
<style type="text/css">
    #loading
    {
        width: 600px;
        height: 550px;
        position: absolute;
        background-color: gray;
        color: white;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }
</style>
<script type="text/javascript">
    var startDate, EndDate, AllDayevent, calendar, Eventid;
    var dateRegExp = /^\/Date\((.*?)\)\/$/;
    //////////////validation for dropdown
    ////end validation
    $(document).ready(function () {
    function toDate(value) {
            var date = dateRegExp.exec(value);
            return new Date(parseInt(date[1]));
        }
        calendar = $('div[id*=calendar]').fullCalendar({
            header: {
                left: 'prev,next ',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            theme: true,
            editable: false,           
            selectable: true,
            selectHelper: true,
          
            select: function (start, end, allDay) {
           
                startDate = start;
                //alert(startDate);
                EndDate = end;
                AllDayevent = allDay;
                var title = "test"; //Display popup
                $('#dialogAppointment').dialog('open');
            },


            eventClick: function (event, element) {
               
                UpdateEvent(event.Eventid, event);
                calendar.fullCalendar( 'refresh' );
                //  event.title="chnaged";
                // $('#calendar').fullCalendar('UpdateEvent', CurrentEvent);

            }


        });
        $.ajax({
            type: "POST",
            contentType: "application/json",
            data: "{}",
            url: "@Url.Action("GetAllAppointments", "Home")",
            dataType: "json",
            success: function (data) {
            
            
                for (var i = 0; i < data.length; i++) {
                  
                    Eventid = data[i].id;
                    startDate =data[i].start;
                     EndDate = data[i].end;
                    updateCalender(data[i].id, data[i].title, data[i].Sessiontitle, data[i].SessionStart, data[i].Sessionend,data[i].color);
                   
                
            }

                $("div[id=loading]").hide();

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                
            }
        });

        function UpdateEvent(id, event) {
            //alert(event.id);
            CurrentEvent = event;
           // alert(CurrentEvent.id);
            $('#EditdialogAppointment').dialog({
                autoOpen: true,
                width: 800,
                resizable: true,
                title: 'Edit Appointment detail',
                modal: true,
                open: function (event, ui) {
                    $(this).load("/Appointment/Edit/?id=" + CurrentEvent.id);
                },
                buttons: {
                    "Update": function () {
                                     var val=$("#SessID").val();
                                     var value=$("#PracID").val();
                                     if(value!="")
                                     {
                                      if(val!="" && val!="0")
                                      {
                                       $("#updatePForm").submit();
                                       $(this).dialog("close");
                                       
                                      }
                                      else
                                      {
                                       alert("Please Select Session....");
                                      }
                    
                                     }
                                     else
                                     {
                                      alert("Please Select Practice...");
                                     }

                    },

                    "Close": function () {
                        $(this).dialog("close");
                    },
                    "Delete": function () {
                    
                        $("#sesdialog").dialog({
                            autoOpen: true,
                            resizable: false,
                            modal: true,
                            buttons: {
                                "Yes": function () {
                                
                                   $.getJSON("/Appointment/Delete/", { id: CurrentEvent.id });
                                   $(this).dialog("close");
                                   $('#EditdialogAppointment').dialog("close");
                                   $('#calendar').fullCalendar( 'removeEvents', CurrentEvent.id );
                                   $('#calendar').fullCalendar("refresh");
                                   
                                },
                                "No": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    }
                    
                }
            });
        }
        

        var aptDialog = $('#dialogAppointment').dialog({
            autoOpen: false,
            width: 800,
            resizable: true,
            title: 'Appointment Detail',
            modal: true,
            open: function (event, ui) {
                //Load the CreateAlbumPartial action which will return 
                // the partial view _CreateAlbumPartial
                
                $(this).load("/Appointment/Create?startDate=" + $.datepicker.formatDate('mm/dd/yy', startDate) + "&endDate=" + $.datepicker.formatDate('mm/dd/yy', EndDate));

            },
            beforeclose: function (event, ui) {
                var stDat = $("#startDate");
                $(aptDialog).find(stDat).val($.datepicker.formatDate('mm/dd/yy', startDate));
            },
            buttons: {
                "Save": function () {
               
                 var val=$("#SessID").val();
                 var value=$("#PracID").val();
                 if(value!="")
                    {
                    if(val!="" && val!="0")
                    {
                       $("#updateCForm").submit();
                       $(this).attr("disabled", "disabled");
                       
                    }
                    else
                    {
                    alert("Please Select Session....");
                    }
                  }
                else
                {
                alert("Please Select Practice...");
                }
               
                },
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });


        $('#MessageDialog').dialog({
            autoOpen: false,
            width: 500,
            resizable: false,
            modal: true,
            button: {
                "": function () {

                }
            }
        });


    });
    //////////////////save
    //calendar.fullCalendar( 'renderEvent', event [, stick ] )
    function updateCSuccess(data) {
        if (data != null) {
            //now we can close the dialog          
            $('#dialogAppointment').empty();
            $('#dialogAppointment').dialog('close');
            //Update grid
            // updateCalender("Meeting Schedule");
            
            Eventid = data.id;
            startDate =data.start;
            EndDate = data.end;
            updateCalender(data.id, data.title, data.Sessiontitle, data.SessionStart, data.Sessionend,data.color);
            //window.location.href=window.location.href;
           displayMessage();
           

        }
        else {
            $("#update-message").show();
        }
    }
    ////////////////////////

    ////update
    function updateppSuccess(data) {

        if (data != null) {
        
            //now we can close the dialog          
            $('#EditdialogAppointment').empty();
            $('#EditdialogAppointment').dialog('close');
            Eventid = data.id;
            startDate =data.start;
            EndDate = data.end;
            updateCalenderUP(data.id, data.title, data.Sessiontitle, data.SessionStart, data.Sessionend, data.color);
           
        }
        else {
            $("#update-message").show();
        }



 }
    /////////////////

    
    //save funcion
    function updateCalender(id, title, Sessiontitle, SessionStart, Sessionend,color) {
   

        //title = title + " " + Sessiontitle + " " + SessionStart + "-" + Sessionend;
        title =title; 
    
        if (title) {
       
            calendar.fullCalendar('renderEvent',
                            {
                                id: Eventid,
                                title: title,
                                start:startDate,
                                end: EndDate,                                
                                allDay: false,
                                backgroundColor:color
                               
                            },
                            true // make the event "stick"
                        );
        }
        calendar.fullCalendar('unselect');
      
    }
    //save function close

    
    //update function
    function updateCalenderUP(id, title, Sessiontitle, SessionStart, Sessionend,color) {
        
        title =title;
        var id1=id;
       
        $('#calendar').fullCalendar( 'removeEvents',id1);
        $('#calendar').fullCalendar('refresh');
         title =title; 
    
        if (title) {
      
            calendar.fullCalendar('renderEvent',
                            {
                                id: Eventid,
                                title: title,
                                start:startDate,
                                end: EndDate,                                
                                allDay: false,
                                backgroundColor:color
                               
                            },
                            true // make the event "stick"
                        );
        }
        calendar.fullCalendar('unselect');
        
       
      
    }

    ///update function close


    function displayMessage() {
        var dialogDiv1 = $('#MessageDialog');
        dialogDiv1.dialog('open');
        window.setTimeout(function () {
            dialogDiv1.dialog('close');
        }, 2000);
    }

</script>
<div id="MessageDialog" title="Success Message">
    <p>
        Action Perfomed succesfully.
    </p>
</div>
<div id="sesdialog" title="Confirm Message" style="display: none;">
    <p>
        Do you really want to delete ?
    </p>
</div>
<form id="form1" runat="server">
<div id="loading">
    <label style="top: 50%; position: relative">
        loading events....</label>
</div>
<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div id="datepicker">
                <legend></legend><span id="green" style="background-color: #00a300; text-align: left;
                    width: 4px; height: 1px"><font color="#00a300">O</font> </span>&nbsp;For Paid
                Invoice Appointments&nbsp&nbsp&nbsp <span id="red" style="background-color: #EE4646;
                    width: 4px; height: 1px"><font color="#EE4646">O</font> </span>&nbsp;For Unpaid
                Invoice Appointments&nbsp&nbsp&nbsp <span id="blue" style="background-color: #2d89ef;
                    width: 4px; height: 1px"><font color="#2d89ef">O</font> </span>&nbsp;For Uninvoiced
                Appointments<br />
                <br />
        </td>
    </tr>
    <tr>
        <td>
            <div id="calendar" style="width: 100%; position: relative;">
            </div>
        </td>
    </tr>
</table>
</form>
<div id="dialogAppointment" title="Schedule Appointment">
</div>
<div id="EditdialogAppointment" title="t">
</div>
