@model AutoComplete.Models.Appointment
@{
    ViewBag.Title = "Edit";
    Layout = null;
}
 <script type="text/javascript">
     $(document).ready(function () {
         var className = $("input").attr("class");
         $("input").attr("class", "k-input " + className);
         $("#startDate").kendoDatePicker();
         $("#endDate").kendoDatePicker();
         // $("select").kendoDropDownList();
     });

</script>
 <script type="text/javascript">
    $(document).ready(function () {

        $("#PracID").kendoDropDownList({  });
      //  var products = $("#SessID").kendoDropDownList({
     //       optionLabel: "Select Session..."
        //   }).data("kendoDropDownList");

        $("#PracID").change(function () {
            var PracID = $(this).val();
            $.getJSON("/Appointment/GetCascadeSession/", { PracID: PracID },
                    function (Data) {

                        var select = $("#SessID");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Select a Session.."
                        }));
                        $.each(Data, function (index, optionData) {
                            debugger;
                            $(select).append("<option value='" + optionData.Value + "'>" + optionData.Text + "</option>");
                        });

                    });

        });

        ///
        $('#SessID').change(function () {

            /* Get the selected value of dropdownlist */
            var selectedID = $(this).val();

            /* Request the partial view with .get request. */
            $.get('/Sessions/DetailsForAppointment/' + selectedID, function (data) {

                /* data is the pure html returned from action method, load it to your page */
                $('#sessionDetail').html(data);
                /* little fade in effect */
                $('#sessionDetail').fadeIn('fast');
            });

        });


    });
</script>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    function handleError(ajaxContext) {
        debugger;
        alert(ajaxContext.responseText);
        alert(ajaxContext.status); // 500
        alert(ajaxContext.getResponseHeader("MyResponseHeader"));
        //alert(ajaxContext.status);
        var response = ajaxContext.get_response();
        var statusCode = response.get_statusCode();
        alert("Request failed, status code " + statusCode + "response" + response);
    }
    function sucess() { alert("Success"); }
    

</script>

@using (Ajax.BeginForm("Edit", "Appointment", null,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "updateppSuccess",
             OnFailure = "handleError"
        }, new { @id = "updatePForm" }))
{
    @Html.ValidationSummary(true)

   
    
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="21%">
        @Html.HiddenFor(model=>model.APPID)

         <div class="editor-label">
        @Html.LabelFor(model => model.PracID, "Practice")
    </div>

    </td>
    <td style="float:left;" width="36%">          
    <div class="editor-field">
        @Html.DropDownList("PracID", String.Empty)
        @Html.ValidationMessageFor(model => model.PracID)
    </div>
        </td>
       
        <td style="float:left;" width="25%"  >
           <div class="editor-label">
        @Html.LabelFor(model => model.SessID, "Session")
    </div>
          </td>
    <td style="float:left;">          
    <div class="editor-field">
        @Html.DropDownList("SessID", "Select a Session..")
        @Html.ValidationMessageFor(model => model.SessID)
    </div>

        </td>
    </tr>
</table>
    
   
               
 
      <div class="editor-label">
      

    </div>
              
    <div style="width:100%;" class="editor-field" id="sessionDetail">
      
    </div>          
   <div class="editor-label">
       &nbsp;
    </div>  
        <div class="editor-field">
       &nbsp; 
    </div>
    
    
    
   
    
               
     <div class="editor-label">
       &nbsp;
    </div>  
        <div class="editor-field">
       &nbsp; 
    </div>
     <div class="editor-label">
        @Html.LabelFor(model => model.expences)
    </div>      
    <div class="editor-field">
        @Html.EditorFor(model => model.expences)
        @Html.ValidationMessageFor(model => model.expences)
    </div>
               
    <div class="editor-label">
        @Html.LabelFor(model => model.VisitMileage)
    </div>
               
    <div class="editor-field">
        @Html.EditorFor(model => model.VisitMileage)
        @Html.ValidationMessageFor(model => model.VisitMileage)
    </div>
              
    <div class="editor-label">
        @Html.LabelFor(model => model.IsCharged)
    </div>
               
    <div class="editor-field">
        @Html.EditorFor(model => model.IsCharged)
        @Html.ValidationMessageFor(model => model.IsCharged)
    </div>
              
    <div class="editor-label">
      Payment
    </div>
               
    <div class="editor-field">
        @Html.EditorFor(model => model.Notes)
        @Html.ValidationMessageFor(model => model.Notes)
    </div>
               
   
             
    <div class="editor-label">
        @Html.LabelFor(model => model.startDate)
    </div>
            
    <div class="editor-field">
        @Html.EditorFor(model => model.startDate)
        @Html.ValidationMessageFor(model => model.startDate)
    </div>
    
    

    
            
    <div class="editor-label">
        @Html.LabelFor(model => model.endDate)
    </div>
              
    <div class="editor-field">
        @Html.EditorFor(model => model.endDate)
        @Html.ValidationMessageFor(model => model.endDate)
    </div>
               
        <div class="editor-label">
        @Html.LabelFor(model => model.InvoiceNotes)
    </div>
               
    <div class="editor-field">
        @Html.TextAreaFor(model => model.InvoiceNotes)
        @Html.ValidationMessageFor(model => model.InvoiceNotes)
    </div>
     
}







