@model IEnumerable<AutoComplete.Models.InvoiceDetail>

 @using System.Web.Mvc.Ajax @{
     ViewBag.Title = "GetAppointment";
     Layout = null;
  
  <script type="text/javascript">

      $(document).ready(function () {
          $("#grid").kendoGrid({
              pageable: true,
              sortable: true,
              height: 210,
              columnMenu: true,
              dataSource: {
                
                pageSize: 3
            }, 
              dataBound: function (e) {
                  $(".k-grid-delete").click(function (e) {
                      e.preventDefault();
                      {

                          ToGet($(this).attr("href"));
                      }
                  });

              }

      });
  });
    </script>
     
     
     <script type="text/javascript">

    function ToGet(tourl) {
    var url=tourl;
    event.preventDefault();
    $("#resultDataInvoice").empty();
    $.post(url,
                      function (data) {
                         
                         
                          $("#resultDataInvoice").empty().append(data);
                      }
                 );


}
     </script>
     
    <div class="Span10">


<table width="100%" id="grid">
    <thead>
        <tr>
            <th>
               Start Date
            </th>
            <th>
               End Date
            </th>
        
            <th>
                Session
            </th>
            <th>
                Total Amount
            </th>
            <th>
               Invoice Note
            </th>
            <th>
                Get Invoice
            </th>
        </tr>
        <tr>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Appointment.startDate
                    @Html.HiddenFor(modelItem => item.Appointment.APPID)
                </td>
                <td>
                    @item.Appointment.endDate
                </td>
            
                <td>
                
                    @Html.DisplayFor(modelItem => item.Appointment.sessionDetail.Name)  
                   
                </td>
                 <td>
                @Html.DisplayFor(modelItem => item.Appointment.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment.InvoiceNotes)
                </td>
               
                <td>
               <a title="Invoice" href="@Url.Action("InvoicingreportTable")/@item.Appointment.APPID" class="k-button k-button-icontext k-grid-delete">Invoice</a>    
                </td>
            </tr>
        }
       
             

    </tbody>
</table>

</div> 
     
     
     
     
  <div id="resultDataInvoice">
</div>
<div id="loadingImg1" style="display: none;">
    
</div>   
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
    }