@model AutoComplete.Models.InvoiceDetail
@{
    ViewBag.Title = "Invoicingreport";
    Layout = null;


    Model.InvoicedDate = DateTime.Now;
    
}



<script type="text/javascript">
    $(document).ready(function () {
        var className = $("input").attr("class");
        $("input").attr("class", "k-input " + className);
        $("select").kendoDropDownList();
        $("#startDate").kendoDatePicker();
        $("#endDate").kendoDatePicker();
    });

</script>




<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("form").submit(function (event) {
            /* stop form from submitting normally */
            event.preventDefault();
            $("#resultData").empty();
            $("#loadingImg").toggle("slow");
            /* get some values from elements on the page: */
            var $form = $(this),
            url = $form.attr('action');
            form = $("Form").serialize();
            /* Send the data using post and put the results in a div */
            $.post(url, form,
                      function (data) {
                          $("#loadingImg").toggle("slow");
                          $("#resultData").empty().append(data);
                      }
                 );
        });


    });
</script>
@using (Html.BeginForm("GetAppointment", "Invoice"))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.InvoicedDate)
   
    <div class="grid">
        <div class="row">
            <div class="span3 bg-color-blue fg-color-white">
                <p style="margin: 4px; text-align: justify;">
                   To create an Invoice first Select Practice to invoice and Select the Sessions to inlude using date Selector.</p>

                    <p style="margin: 4px; text-align: justify;">
                   You can Also Completed the Pension form A.</p>


                       <p style="margin: 4px; text-align: justify;">
                  Then hit "Generate Invoice" and your Invoice will Appear Below.</p>

            </div>
            <div class="span4 ">
                <div class="">
                    <strong>Date Selection &raquo;</strong>    
                </div>
            </div>
            <div class="span4 ">
                <div class="">
                    <strong>Practice Selection &raquo;</strong> 
                </div>
            </div>
            <div class="span4 ">

           
             <div style="" id="otherAnswer">
                    <span class="">
                        Start Date
                    </span>
                    <div class="">
                        @Html.EditorFor(model => model.startDate)
                        @Html.ValidationMessageFor(model => model.startDate)
                    </div>
                    <div class="">
                        End date
                    </div>
                    <div class="">
                        @Html.EditorFor(model => model.endDate)
                        @Html.ValidationMessageFor(model => model.endDate)
                    </div>
            </div>
                

            </div>
            <div class="span4 ">
                <div class="" style="margin-top:15px;">
                    @Html.DropDownList("PracticeID", String.Empty)
                    @Html.ValidationMessageFor(model => model.PracticeID)
                </div>

                 <div style="margin-top:15px;" class=" ">
     Is Pension form Include ?   @Html.EditorFor(model => model.IsPensionFormAinclude)
        @Html.ValidationMessageFor(model => model.IsPensionFormAinclude)
                </div>
                <div style="margin-top:15px;" class=" ">
                <input type="submit" value="Get Appointments" />
                </div>

            </div>
        </div>
    </div>
  
    
    
  @*  <div class="editor-label">
        @Html.LabelFor(model => model.startDate)
    </div>
                  
    <div class="editor-field">
        @Html.EditorFor(model => model.startDate)
        @Html.ValidationMessageFor(model => model.startDate)
    </div>
                  
    <div class="editor-label">
        @Html.LabelFor(model => model.endDate)
    </div>
                   
    <div class="editor-field">
        @Html.EditorFor(model => model.endDate)
        @Html.ValidationMessageFor(model => model.endDate)
    </div>
                  
    <div class="editor-label">
        @Html.LabelFor(model => model.IsPensionFormAinclude)
    </div>
                  
    <div class="editor-field">
        @Html.EditorFor(model => model.IsPensionFormAinclude)
        @Html.ValidationMessageFor(model => model.IsPensionFormAinclude)
    </div>
                  
    <div class="editor-label">
        @Html.LabelFor(model => model.InvoicedDate)
    </div>
                   
    <div class="editor-field">
        @Html.EditorFor(model => model.InvoicedDate)
        @Html.ValidationMessageFor(model => model.InvoicedDate)
    </div>
                 
    <div class="editor-label">
        @Html.LabelFor(model => model.PaidDate)
    </div>
                  
    <div class="editor-field">
        @Html.EditorFor(model => model.PaidDate)
        @Html.ValidationMessageFor(model => model.PaidDate)
    </div>
                  
    <div class="editor-label">
        @Html.LabelFor(model => model.IsPaid)
    </div>
                   
    <div class="editor-field">
        @Html.EditorFor(model => model.IsPaid)
        @Html.ValidationMessageFor(model => model.IsPaid)
    </div>
                    
    <div class="editor-label">
        @Html.LabelFor(model => model.PracticeID)
    </div>
                   
    <div class="editor-field">
                 @Html.DropDownList("PracticeID", String.Empty)
                    @Html.ValidationMessageFor(model => model.PracticeID)
    </div>*@
                    
   
    
}
<br />
<br />
<div id="resultData">
</div>
<div id="loadingImg" style="display: none;">
    <img src="@Url.Content("~/images/294.gif")" style="margin:0 auto;" />
</div>