@model IEnumerable<AutoComplete.Models.InvoiceDetail>
@{
    ViewBag.Title = "InvoiceProfile";
    Layout = null;
    //var name = Session["Person"] as AutoComplete.Models.Person;
    decimal total = 0;

    string practice = "";
    string practicecity = "";
    string practicetown = "";
    string practicephone = "";
    string practicestreet = "";
    string practiceemail = "";
    var FirstName = "";
    var LastName = "";
    var city = "";
    var country = "";
    var postCode = "";
    var phone = "";
    var Email = "";
    string sdate = "";
    string edate = "";
        
    var db = new AutoComplete.DataContext();
    
    if (Model != null && Model.Count() > 0)
    {
        foreach(var item in Model)
        {
            sdate = item.Appointment.startDate;
            edate = item.Appointment.endDate;
            var prac = db.Practices.Where(p => p.ID == item.Appointment.PracID);
            foreach(var p in prac)
            {
            practice = p.Name;
            practicecity = p.city;
            practicetown = p.cWebsite;
            practicephone = p.cphone;
            practicestreet = p.streetAdd;
            practiceemail = p.cEmail;
            }

            var pers = db.People.Where(per => per.ID == item.Appointment.PersonID);
                foreach(var n in pers)
                {
                    FirstName = n.FirstName;
                    LastName = n.LastName;
                    city = n.city;
                    country = n.country;
                    postCode = n.postCode;
                    phone = n.phone;
                    Email = n.Email;
                    
                } 
        }

    }
   
}

<h2></h2>
<table width='100%'><tr><td align='left'>
              <font size="10pt">To: @practice <br />
                 Website:  <br />
                 City: @practicecity<br />
                 Street Address: @practicestreet<br />
                 Contact no.: @practicephone<br />
                 Email: @practiceemail </font></td>

<td align=''>
<font size="10pt"> From Dr.: @FirstName @LastName<br />
 City: @city<br />
  Country: @country<br />
   Contact no.:  @phone<br />
 Email: @Email</font> </td></tr></table>
------------------------------------------------------------------------------------------------------------------------------
<table width="100%" border="0">
    <thead>
     
        <tr>
            <th>
                Date
         
            <th>
                Session
            </th>
            <th>
                Fees
            </th>
        </tr>
        <tr>
        </tr>
         
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                  <font size="10pt">@item.InvoicedDate.ToString("D")</font>
                </td>
              
                <td>
             
                   <font size="10pt">@Html.DisplayFor(modelItem => item.Appointment.sessionDetail.Name)</font>
                </td>
                <td>
                <font size="10pt">@Html.DisplayFor(modelItem => item.Appointment.Total)</font>
                    @{
               total += Convert.ToDecimal(item.Appointment.Total);
                    }
                </td>
            </tr>
            
           


            
        }


     
        <tr>

            <td></td>
            <td>Total</td>
            <td>
                <strong> @total </strong> </td>
        
    </tbody>
</table>
------------------------------------------------------------------------------------------------------------------------------
<font size="10pt">Invoice Generated For - @sdate to @edate period For practice - @practice </font>

