@model IEnumerable<AutoComplete.Models.Attachments>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>All Attachments</h2>
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>Upload Item :
        </td>
        <td><input name="attachments" id="attachments" type="file" /></td>
    </tr>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $("#attachments").kendoUpload({
            async: {
                saveUrl: '@Url.Action("Save")',
                removeUrl: '@Url.Action("Remove")',
                autoUpload: true
            },
            success: onSuccess
        });

    });
    function onSuccess(e) {
        alert("Successfully uploaded");
    }

    $(".k-grid-delete").click(function (e) {
        debugger;
        var id = $(this).attr("id");
        $("#deletedialog").dialog({
            autoOpen: true,
            resizable: false,
            modal: true,
            buttons: {
                "Yes": function () {
                    debugger;
                    $.getJSON("/Attachments/DeleteConfirmed/", { id: id });
                    $(this).dialog("close");
                    var table = document.getElementById("mytable");
                    table.refresh();
                },
                "No": function () {
                    $(this).dialog("close");
                }
            }
        });



    });

</script>

<table class="CSSTableGenerator" id="mytable">
    <tr>
        <td>
            person
        </td>
        <td>
            title
        </td>
        <td>
            path
        </td>
        <td>
            Action
        </td>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.person.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            <a href="@Url.Content("~/Attachments/"+ item.path)" target="_blank">@Html.DisplayFor(modelItem => item.path)</a>  
        </td>
        <td> <a  id="@item.ID" title="Delete"  class="k-button k-button-icontext k-grid-delete"><span class="k-icon k-delete"></span>Delete</a>        </td>
    </tr>
}

</table>
<div id="deletedialog" title="Confirm Message" style="display:none;">
    <p>
        Do you really want to delete ?
    </p>
   
</div>